.interesting-articles {
  padding: 100px 0;
  text-align: center;
}

.interesting-articles__title {
  font-size: 32px;
  font-weight: 700;
}

.interesting-articles__description {
  color: #6b7280;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 48px;
}

.interesting-articles__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.interesting-articles__container--list {
  grid-template-columns: 1fr;
}

.interesting-articles__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 16px 0;
}

.interesting-articles__icon {
  height: 24px;
}

.interesting-articles__bnt--active {
  color: red;
}

.interesting-articles__add-article {
  padding: 12px;
  font-weight: 500;
  border: 1px solid black;
  background-color: #fcffe7;
  margin: 40px 0;
  width: 33%;
}

.interesting-articles__article-preview,
.interesting-articles__form {
  text-align: left;
}

.interesting-articles__form {
  width: 66%;
  margin: 0 auto;
}

.interesting-articles__form.interesting-articles__form--hidden {
  display: none;
}

.interesting-articles__add-article--hidden {
  display: none;
}

@media (width <= 800px) {
  .interesting-articles__title {
    font-size: 24px;
  }

  .interesting-articles__description {
    font-size: 16px;
  }

  .interesting-articles__container {
    grid-template-columns: 1fr;
  }

  .interesting-articles__icons {
    margin: 12px 0;
  }

  .interesting-articles__add-article {
    width: 100%;
  }

  .interesting-articles__form {
    width: 100%;
  }
}
