.interesting-articles {
  padding: 100px 0;
}

.interesting-articles__title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.interesting-articles__description {
  color: #6b7280;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 48px;
}

.interesting-articles__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media screen and (max-width: 800px) {
  .interesting-articles__title {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .interesting-articles__description {
    font-size: 16px;
  }
  .interesting-articles__grid {
    grid-template-columns: 1fr;
  }
}
