.interesting-articles {
  padding: 100px 0;
  text-align: center;
}

.interesting-articles__title {
  font-size: 32px;
  font-weight: 700;
}

.interesting-articles__description {
  color: #6b7280;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 48px;
}

.interesting-articles__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.interesting-articles__container--list {
  grid-template-columns: 1fr;
}

.interesting-articles__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 16px 0;
}

.interesting-articles__icon {
  height: 40px;
  color: black;
}

.interesting-articles__icon--active {
  color: red;
}

@media (width <= 800px) {
  .interesting-articles__title {
    font-size: 24px;
  }

  .interesting-articles__description {
    font-size: 16px;
  }

  .interesting-articles__container {
    grid-template-columns: 1fr;
  }

  .interesting-articles__icons {
    margin: 12px 0;
  }

  .interesting-articles__icon {
    height: 30px;
  }

}
