@import 'global/normalize.css';
@import 'global/utility.css';

.header {
  background-color: #1f2936;
  height: 80px;
  position: sticky;
  top: 0;
  font-weight: 500;
  color: #fff;
  font-size: 14px;
}

.header__container {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__nav {
  display: flex;
  gap: 16px;
  flex: 1;
}

.header__link {
  padding: 8px 0;
  line-height: 20px;
}

.header__link--active {
  padding: 8px 12px;
  border-radius: 6px;
  background: #111827;
}

.header__logo {
  height: 60px;
  aspect-ratio: 252/60;
}

.header__profile {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__profile-img {
  height: 32px;
  aspect-ratio: 1;
}

.main-title {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  margin: 65px;
}

.personal-page__info {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 50px;
}

.personal-page__grid {
  display: grid;
  grid-template-columns: 32% 1fr;
  gap: 20px;
}

.personal-page__block {
  border: 1px solid #000;
  padding: 30px;
  gap: 16px;
}

.personal-page__block--yellow-background {
  background-color: #fcffe7;
}

.personal-page__list-title {
  font-size: 20px;
  font-weight: 500;
}

.personal-page__list {
  list-style-type: disc;
  list-style-position: inside;
  padding: 16px 0 0 8px;
}

.personal-page__main-title {
  font-size: 23px;
  font-weight: 700;
  padding-bottom: 6px;
}

.personal-page__subtitle {
  font-size: 24px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 15px;
}

.interesting-articles {
  margin: 100px 0;
}

.interesting-articles__title {
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 16px;
}

.interesting-articles__description {
  color: #6b7280;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 48px;
}

.interesting-articles__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.article-preview {
  border-radius: 8px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.article-preview__body {
  padding: 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.article-preview__title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}

.article-preview__description {
  color: #6b7280;
  font-size: 16px;
  font-weight: 400;
  flex: 1;
}

.article-preview__footer {
  color: #6b7280;
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px;
}

.article-preview__image {
  height: 192px;
  width: 100%;
}

.footer {
  background-color: #6a6a6a;
  height: 108px;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: right;
  font-size: 11px;
}
